{% extends 'core/user/base.html' %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Alluser.net</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">입고일정, 배송기간</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">사이즈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">취소, 환불</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">회원정보, 결제</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">적립금, 쿠폰</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">재입고</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">주소지</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">배송전 상품변경</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">상품, 코디</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">기타</a>
            </li>
        </ul>
    </div>
</nav>


    <div class="container">

    <h3 class="text-center my-5">고고싱 쇼핑몰 크롤러</h3>


    <script>
        $(document).ready(function () {
            $('form .type1').click(function () {
                $('input[name=submit_type]').val(1);
                $('form').submit();
            });

            $('form .type2').click(function () {
                $('input[name=submit_type]').val(2);
                $('form').submit();
            });
            {##}
            {#$('form .type3').click(function () {#}
            {#    $('input[name=submit_type]').val(3);#}
            {#    $('form').submit();#}
            {#});#}
            {##}
            {#$('form .type4').click(function () {#}
            {#    $('input[name=submit_type]').val(4);#}
            {#    $('form').submit();#}
            {#});#}
        });
    </script>

    <table class="table my-5">
    <thead>
        <tr>
            <th width = "10%">카테고리</th>
            <th width = "70%">질문</th>
            <th width = "20%">날짜</th>
        </tr>
    </thead>

    <tbody>
    {% for question in questions%}
        <tr>
            <th>{{ question.category_id }}</th>
            <td>{{ question.article }}</td>
            <td>{{ question.date|date:"Y-M-d H시m분" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="submit_type" value="0">
        <button type="button" class="btn btn-dark type1">질문 크롤링하기</button>
        <button type="button" class="btn btn-dark type2">질문 삭제하기</button>
{#        <button type="button" class="btn btn-dark type3">상품 크롤링하기</button>#}
{#        <button type="button" class="btn btn-dark type4">상품 삭제하기</button>#}
    </form>
    <ul class="pagination justify-content-center my-5">
        {% if page_control.0 != 1 %}
        <li class="page-item prev"><a class="page-link" href="?page={{ pages.0 }}">Previous</a></li>
        {% endif %}
        {% for i in dic_page_total %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% if next.0 != 1  %}
        <li class="page-item next"><a class="page-link" href="?page={{ pages.1 }}">Next</a></li>
        {% endif %}
    </ul>

</div>
{% endblock %}